@font-face {
    font-family: 'RIDIBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* 기본 폰트 설정 */
:root {
    --vp-font-family-base: 'RIDIBatang', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --vp-font-family-mono: 'RIDIBatang', ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/* 제목 폰트 설정 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SUIT-Regular', sans-serif;
    font-weight: bold;
}

/* 본문 폰트 설정 */
p,
li,
a {
    font-family: 'RIDIBatang', sans-serif;
}

strong {
    font-family: 'RIDIBatang';
    font-weight: normal;
    text-shadow: 0 0 0.6px black;
}

/* 코드 블록 폰트 설정 */
code {
    font-family: monospace;
}

.thumbnail {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    max-width: 250px;
    height: auto;
}

/* 태블릿 */
@media (max-width: 768px) {
    .thumbnail {
        max-width: 200px;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

/* 모바일 */
@media (max-width: 480px) {
    .thumbnail {
        max-width: 150px;
        bottom: 1rem;
        right: 1rem;
    }
}